.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menuIcon {
  color: white;
}

.title {
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
}

.burgerTitle {
  cursor: pointer;
  margin-top: 7px;
}
