.ticket-calculator-container {
  padding: 15px;

  .mat-form-field {
    margin: 15px;
  }

  .single-day-container {
    float: left;
    width: 50%;
  }

  .annual-pass-container {
    float: right;
    width: 50%;
  }

  .mat-form-field {
    margin-bottom: 20px;
  }
}
