.item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tile {
  align-items: center;
  background-color: #ccc;
  background-size: cover !important;
  box-shadow: 0 0 10px rgba(40, 40, 40, 0.3);
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
}

.myPoint {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}
.myPoint li {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  margin: 0 3px;
  padding: 4px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}
.myPoint li.active {
  background: rgb(40, 40, 40);
  transform: scale(1.2);
}
