.landing-page-container {
  .top-section {
    background-color: rgb(123, 31, 162);
    height: 15vh;
    p {
      margin: 0 auto;
      text-align: center;
    }
  }

  .bottom-section {
    background: none;
  }
}
